:root {
    all:unset;
    height: 100dvh;
}

html {
    height: 100dvh;
}

body {
    all: unset;
    padding: 0;
    margin: 0;
    /*height: 100svh;*/ /* fallback for Js load */
    scroll-behavior: smooth;
    height: 100dvh;
}

* {
    font-family: TTSSevers-Medium, serif;
}

ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 0 16px;
    margin-left: 0;
    margin-right: auto;
    color: white;
    font-size: clamp(12px, 1.2svmin, 48px);
    user-select: none;
}

.hero-link {
    position: relative;
    opacity: 0;
}

li.hero-link:hover {
    color: #a25ae5;
}

.hero-link-wrapper {
    display:block;
    color: white;
}

#hero-link-square-wrapper {
    width: 100%;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#hero-link-square {
    position: relative;
    border: 1px solid white;
    margin: auto;
    width: .8vmin;
    aspect-ratio: 1;
    opacity: 0;
    transform: translateY(calc(3vmin)) rotate(-360deg);
    transition: opacity 250ms, transform 500ms ease-in;
}

li.hero-link:hover ~ #hero-link-square-wrapper #hero-link-square {
    position: relative;
    border: 1px solid white;
    margin: auto;
    width: .8vmin;
    aspect-ratio: 1;
    opacity: 1;
    transform: translateY(0px) rotate(90deg);
    transition: opacity 250ms, transform 500ms ease-out;
}

.hero-label-intro {
    font-family: TTSSevers-Medium, serif, serif;
}

.hero-label-name {
    font-family: Oldtimer, serif;
    color: blueviolet !important;
}

input[type=button] {
    font-family: TTSSevers-Bold, serif;
}
.input-button {
    all: unset;
    margin: auto;
    padding: 16px 8px;
    min-width: 100px;
    text-align: center;
    font-size: clamp(12px, 1.5svw, 24px);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 15px;
}

.page-head {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100svh;
    background: rgb(4,3,27);
    background: linear-gradient(45deg, rgb(1, 1, 5) 0%, rgb(4, 0, 54) 100%);
}

.page-body::after {
    content: "";
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 12vh;
    bottom: 0;
    box-shadow: inset 0 -10vh 10vh -10vh rgb(65, 85, 161);
}

.page-body {
    display: flex;
    margin: auto;
    width: 100%;
    min-height: 200svh;
}

.head-header {
    display: inline-block;
    margin: auto;
    padding: 1vmin;
}

.header-container {
    display: inline-flex;
    margin: auto;
}

.header-links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1svh;
}

.header-label {
    display: inline;
    margin: auto;
    padding: 8px;
}

.header-input {
    display: flex;
    padding-top: clamp(0px, 5svh, 64px);
}

.input-button {
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, transform 200ms ease-in-out;
    color: rgba(255, 255, 255);
    background-color: rgba(2, 0, 26, 0.75);
    transform: scale(100%);
}

.input-button:hover:not(:active) {
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, transform 200ms ease-in-out;
    color: rgba(255, 255, 255);
    background-color: rgba(2, 0, 26, 0.75);
    transform: scale(110%);
}


.label-container {
    padding: 4px;
    text-align: center;
}

.transition-fade-in {
    opacity: 0;
    animation: fade-in 400ms forwards
}

.simple-label {
    font-size: clamp(24px, 3svw, 48px);
    color: rgb(222, 220, 253);
}

.reduced-font {
    font-size: clamp(12px, 1.5svw, 24px);
}

.square-wrapper {
    position:absolute;
    top: 0;
    right: 5vw;
    bottom: 5vh;
    display: flex;
    margin:auto;
}

.square-wrapper.square-fall-1 {
    animation-delay: 100ms !important;
}

.square-wrapper.square-fall-2 {
    animation-delay: 200ms !important;
}

.square-wrapper.square-fall-3 {
    animation-delay: 300ms !important;
}

.square-wrapper.square-fall-4 {
    animation-delay: 500ms !important;
}

.square-wrapper.square-fall-5 {
    animation-delay: 700ms !important;
}

[role=active-square-fall] {
    animation: square-gravity 2s linear forwards !important;
    animation-duration: 2s;
}

#square-1 {
    width: 60vmin;
    aspect-ratio: 1;
    border: 2px solid rgba(108, 104, 148, 0.40);

    rotate: 54deg;
    animation:
            spin-square reverse linear infinite 20s,
            shrink-grow-1 ease-in-out alternate infinite 10s;

    overflow: hidden;
}

#square-2 {
    width: 80vmin;
    aspect-ratio: 1;
    border: 4px solid rgba(83, 79, 129, 0.40);
    background: rgba(83, 79, 129, 0.1);

    rotate: 87deg;

    animation:
            spin-square forwards linear infinite 25s 200ms,
            shrink-grow-2 ease-in-out alternate infinite 120s;


    overflow: hidden;
}

#square-3 {
    width: 90vmin;
    aspect-ratio: 1;
    /*border: 6px solid rgba(33, 29, 93, 0.40);
    box-shadow:
            inset 0 0 2vmin 2vmin rgba(33, 29, 93, 0.40),
            0 0 2vmin 2vmin rgba(33, 29, 93, 0.40);*/
    border: 6px solid rgba(62, 29, 93, 0.4);
    background: rgba(62, 29, 93, 0.1);
    box-shadow:
            inset 0 0 2vmin 2vmin rgba(72, 29, 93, 0.4),
            0 0 2vmin 2vmin rgba(70, 29, 93, 0.4);

    rotate: 12deg;
    animation:
            spin-square forwards ease-in-out infinite 30s 400ms,
            shrink-grow-3 ease-in-out alternate infinite 150s;

    overflow: hidden;
}

#square-4 {
    width: 100vmin;
    aspect-ratio: 1;
    /*border: 8px solid rgba(8, 5, 44, 0.15);*/
    box-shadow:
        inset 0 0 3vmin 3vmin rgba(8, 5, 44, 0.6),
        0 0 3vmin 3vmin rgba(8, 5, 44, 0.6);

    rotate: 98deg;
    animation:
            spin-square reverse linear infinite 45s 600ms,
            shrink-grow-4 ease-in-out alternate infinite 23s;

    overflow: hidden;
}

#square-5 {
    width: 125vmin;
    aspect-ratio: 1;
    /*border: 10px solid rgba(2, 0, 26, 0.17);*/
    box-shadow:
            inset 0 0 6vmin 6vmin rgba(6, 3, 44, 0.6),
            0 0 6vmin 6vmin rgba(7, 4, 47, 0.6);

    rotate: 4deg;
    animation:
            spin-square forwards ease-in-out infinite 50s 800ms,
            shrink-grow-5 ease-in-out alternate infinite 25s;

    overflow: hidden;
}

#hexagon {
    width: 100px;
    height: 57.735px;
    background: #211f1f;
    position: relative;
}
#hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid red;
}
#hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
}

#hero-bottom {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul {
        display: inline-block;
    }
    body{
        height: 100%;
    }
    #hero-link {
        height: 0;
    }
    #hero-link-square-wrapper {
    }

    #hero-link-square {
        opacity: 0;
    }

    li.hero-link:hover ~ #hero-link-square-wrapper #hero-link-square {
        opacity: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes square-gravity {
    0% {
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1)
    }
    25% {
        transform: translate(0, -5svh);
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    }
    100% {
        transform: translate(0, 200svh);
    }
}

@keyframes spin-square {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes shrink-grow-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shrink-grow-2 {
    0% {
        opacity: 1;
        width: 80vmax;
    }
    100% {
        opacity: .25;
        width: 70vmax;
    }
}

@keyframes shrink-grow-3 {
    0% {
        opacity: 1;
        width: 90vmin;
    }
    100% {
        opacity: 0;
        width: 80vmin;
    }
}

@keyframes shrink-grow-4 {
    0% {
        opacity: 1;
        width: 100vmin;
    }
    100% {
        opacity: .25;
        width: 90vmin;
    }
}

@keyframes shrink-grow-5 {
    0% {
        opacity: 1;
        width: 125vmin;
    }
    100% {
        opacity: 0;
        width: 105vmin;
    }
}

@font-face {
    font-family: "Esprit";
    src: local("Esprit"),
    url("./assets/fonts/Esprit/Esprit.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oldtimer";
    src: local("Oldtimer"),
    url("./assets/fonts/Oldtimer/Oldtimer.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTSSevers-Regular";
    src: local("TTSevers"),
    url("./assets/fonts/TT Severs/TT-Severs-Regular.otf") format("opentype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTSSevers-Bold";
    src: local("TTSevers"),
    url("./assets/fonts/TT Severs/TT-Severs-Bold.otf") format("opentype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "TTSSevers-Medium";
    src: local("TTSevers"),
    url("./assets/fonts/TT Severs/TT-Severs-Medium.otf") format("opentype");
    font-weight: bold;
    font-display: swap;
}

/**/
@keyframes rotBG {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.gradient {
    position: absolute;
    top: calc(100svh + 250px);
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: auto;

    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: 100%;
    height: 100%;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(158, 82%, 57%, 85%), hsl(252, 82%, 57%, 100%));
    animation: rotBG var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
/*

body {
    background-color: #222;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}
*/

/* This is just to transition when you change the viewport size. */
/*
* {
    transition: all 0.25s ease-out;
}
*/

.parent {
}
.my-element-to-clip {

}